body{
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2014/01/04/214848/fd73c029eea04ec2289ccbdcbc66572c.jpg');
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card{
  background-color: rgb(155,155,155,.6);
}
h1{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
}
h2{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
}
h3{
  display: none;
  font-family: 'Orbitron', sans-serif;
  color: white;
}
.cardTwo{
  display: none;
}
img{
  text-align: center;
  max-width: 150px;
  display: inline-block;
  float:left;
  margin-left: auto;
  margin-right: auto;
}
img:hover{
  cursor: pointer;
}
.cardMiddle{
  min-width: 1160px;
  min-height: 150px;
  display: none;
}
